@page
@model AccessDenied

@{
    ViewData["Title"] = "Access denied";
}

<div>
    <h1>
        Acces Denied
    </h1>
    <p>
        You do not have permission to access this resource.
    </p>
</div>